body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: lightgrey;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #ffe066;
    color:black;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
}
.class{
    color: red;
}
.pimg1,.pimg2,.pimg3{
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.pimg1{
    background-image:url("download (3) (1).png");
    min-height: 100%;
}
.pimg2{
     background-image:url("download (3) (1).png");
    min-height: 400px;
}
.pimg3{
     background-image:url('download (3) (1).png');
    min-height: 400px;
}
.section{
    text-align: center;
    padding: 50px 80px;
}
.section-light{
    background-color: white;
    color: #666;
}
.section-dark{
    background-color: #282e34;
    color: #ddd;
}
.ptext{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}
.ptext .border{
    background-color: #111;
    color: black;
    padding: 20px;
}
.ptext .border.trans{
    background-color:transparent ;
}
@media(max-width:568px){
    .pimg1,.pimg2,.pimg3{
        background-attachment: scroll;
    }
}